<section id="about" class="template-section">
  <div class="container text-center">
    <h1>We are the one</h1>
    <img src="static/img/Separator.png" class="divider" alt="">
    <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium voluptates minima illo dolorum officiis id voluptate quidem repudiandae dolores aliquam eius perspiciatis, tenetur quaerat debitis vero veniam, libero, delectus velit.</p>
    <div class="row workers">
    	<div class="worker-card col-md-3" ng-repeat="worker in about.model.workers">
    		<div class="content">
    			<div class="picture-description">
    				<img ng-src="{{worker.img}}" alt="">
    				<div class="main-data">
    					<p class="worker-name">{{worker.name}}</p>
    					<p class="worker-position">{{worker.position}}</p>
    				</div>
    			</div>
    			<div class="worker-description">
    				<p>{{worker.description}}</p>
    			</div>
    			<div class="icons">
    				<div class="col-xs-3" ng-repeat="socialNetwork in worker.socialNetworks" ng-class="socialNetwork.name">
    	    			<a ng-href="{{socialNetwork.link}}">
    	    				<i ng-class="'fa fa-' + socialNetwork.name" aria-hidden="true"></i>
    	    			</a>
    	    		</div>
    	    	</div>
    		</div>
    	</div>
    </div>
  </div>
</section>
