@font-face {
  font-family: "RalewayLight";
  src: url("../../fonts/Raleway/RalewayLight.ttf") format("truetype"); }
@font-face {
  font-family: "RalewayBold";
  src: url("../../fonts/Raleway/RalewayBold.ttf") format("truetype"); }
@font-face {
  font-family: "RalewayExtraBold";
  src: url("../../fonts/Raleway/RalewayExtraBold.ttf") format("truetype"); }
@font-face {
  font-family: "RalewayExtraLight";
  src: url("../../fonts/Raleway/RalewayExtraLight.ttf") format("truetype"); }
@font-face {
  font-family: "RalewayMedium";
  src: url("../../fonts/Raleway/RalewayMedium.ttf") format("truetype"); }
@font-face {
  font-family: "RalewayRegular";
  src: url("../../fonts/Raleway/RalewayRegular.ttf") format("truetype"); }
@font-face {
  font-family: "RalewayThin";
  src: url("../../fonts/Raleway/RalewayThin.ttf") format("truetype"); }
* {
  font-family: RalewayLight; }

body {
  margin-top: 100px; }
  @media only screen and (max-width: 768px) {
    body {
      margin-top: 100px; } }

/*     --- HEADER ---     */
header {
  position: fixed;
  top: 0;
  background-color: #fff;
  transition: 0.5s;
  width: 100%;
  z-index: 100; }
  @media only screen and (max-width: 768px) {
    header {
      height: 100px; } }

@media only screen and (min-width: 768px) {
  #menu {
    float: right; } }

#icon-menu {
  margin: 0;
  padding: 0;
  color: #7FF0FF;
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  right: 5%;
  font-size: 25px; }
  @media only screen and (min-width: 768px) {
    #icon-menu {
      display: none; } }

.show-menu {
  left: 0% !important; }

#logo {
  float: left;
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%); }

#menu-list {
  margin: 0;
  padding: 0;
  float: right; }
  @media only screen and (max-width: 768px) {
    #menu-list {
      text-align: center;
      display: block;
      position: absolute;
      width: 100%;
      left: 100%;
      top: 100%;
      transition: 0.4s; } }
  #menu-list li {
    list-style: none; }
    @media only screen and (min-width: 768px) {
      #menu-list li {
        height: 100px; }
        #menu-list li:first-child a {
          border-bottom: 2px solid #7FF0FF;
          color: #7FF0FF; } }
    #menu-list li a {
      color: #000;
      font-size: 16px;
      text-transform: uppercase;
      cursor: pointer;
      text-decoration: none;
      display: block;
      height: 100%;
      padding: 0 20px; }
      #menu-list li a:hover {
        color: #7FF0FF !important; }
      @media only screen and (min-width: 768px) and (max-width: 992px) {
        #menu-list li a {
          padding: 0 10px; } }
      @media only screen and (min-width: 768px) {
        #menu-list li a:focus {
          border-bottom: 2px solid #7FF0FF;
          color: #7FF0FF; } }
      @media only screen and (max-width: 768px) {
        #menu-list li a {
          padding: 10px 150px;
          color: #7FF0FF; } }
      @media only screen and (min-width: 768px) {
        #menu-list li a {
          line-height: 6.2; } }
    @media screen and (min-width: 768px) {
      #menu-list li {
        display: inline-block;
        float: left; } }
    @media screen and (max-width: 768px) {
      #menu-list li {
        padding: 10px 0;
        border-bottom: 1px solid #fff;
        background-color: #131316; } }

/*     ------     */
#home {
  display: block;
  position: relative;
  height: calc(100vh - 100px);
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../../img/Layer-1.png);
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed; }
  #home .welcome {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -70%);
    -moz-transform: translate(-50%, -70%);
    -ms-transform: translate(-50%, -70%);
    transform: translate(-50%, -70%); }
    #home .welcome h1 {
      font-family: RalewayExtraLight;
      color: #fff;
      text-align: center;
      text-transform: uppercase;
      font-size: 45px;
      margin: 30px 0; }
    #home .welcome a {
      color: #fff;
      font-size: 16px;
      text-transform: uppercase;
      cursor: pointer;
      text-decoration: none;
      padding: 10px 20px;
      border: 1px solid #fff;
      display: block;
      position: absolute;
      left: 50%;
      -webkit-transform: translate(-50%, 0);
      -moz-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
      transition: 0.3s; }
      #home .welcome a:hover {
        color: #000 !important; }
      @media only screen and (max-width: 768px) {
        #home .welcome a {
          width: 140px; } }
      #home .welcome a:hover {
        background-color: #fff; }

.link-active {
  border-bottom: 2px solid #7FF0FF;
  color: #7FF0FF !important; }

.noborder {
  border: none !important;
  color: #000 !important; }

.sec {
  height: 100vh;
  width: 100%; }

/* ----- About us ----- */
#about {
  padding: 60px 0; }
  #about h1 {
    font-family: RalewayRegular;
    margin: 0; }
  #about img.divider {
    margin: 25px 0; }
  #about p.description {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 90px; }
  #about .picture-description {
    position: relative; }
    #about .picture-description img {
      width: 100%; }
    #about .picture-description div {
      background-color: rgba(0, 0, 0, 0.5);
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      position: absolute;
      left: 50%;
      -webkit-transform: translate(-50%, 0);
      -moz-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
      width: 100%; }
      #about .picture-description div .worker-name {
        font-family: RalewayMedium;
        color: #7FF0FF;
        font-size: 20px;
        margin: 0;
        margin-top: 3px; }
      #about .picture-description div .worker-position {
        color: #fff;
        font-size: 13px; }
  #about .worker-description {
    background-color: #F7F7F7;
    padding: 25px 25px;
    border-bottom: 1px solid #fff; }
    #about .worker-description p {
      color: #929ba0;
      font-size: 13px;
      margin: 0; }
  #about .icons div {
    width: 25%;
    height: 55px;
    padding: 0;
    background-color: #F7F7F7;
    border-right: 1px solid #fff;
    transition: 0.3s; }
    #about .icons div:last-child {
      border: 0; }
    #about .icons div a {
      display: block;
      height: 100%;
      width: 100%;
      line-height: 4.2;
      color: #444444;
      transition: 0.3s; }
      #about .icons div a i {
        font-size: 22px; }
  #about .icons .facebook:hover {
    background-color: #36609E; }
    #about .icons .facebook:hover a {
      color: #fff; }
  #about .icons .twitter:hover {
    background-color: #2CA9E1; }
    #about .icons .twitter:hover a {
      color: #fff; }
  #about .icons .google:hover {
    background-color: #DB5442; }
    #about .icons .google:hover a {
      color: #fff; }
  #about .icons .dribbble:hover {
    background-color: #EE558E; }
    #about .icons .dribbble:hover a {
      color: #fff; }

/*# sourceMappingURL=style.css.map */
