#news {
  padding-bottom: 18px;

  .news-wrapper {
    max-width: 768px;
    margin: 0 auto;
    margin-top: 80px;

    article {
      min-height: 150px;

      .article-date {
        text-align: center;

        .number {
          color: $blue;
          font-size: 70px;
          font-weight: bold;
        }
      }

      .article-content {

        .short-desc {
          margin-top: 40px;
          padding-bottom: 60px;
          border-bottom: 1px solid $greyregular;
        }

        .read-more {
          color: $blue;
          right: 15px;
          font-weight: bold;
          position: absolute;
          @include translate(0, -200%);

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}
