<section id="news" class="template-section">
	<div class="container text-center">
    <h1>Check our news</h1>
    <img src="static/img/Separator.png" class="divider" alt="">
    <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium voluptates minima illo dolorum officiis id voluptate quidem repudiandae dolores aliquam eius perspiciatis, tenetur quaerat debitis vero veniam, libero, delectus velit.</p>
		<div class="news-wrapper">
			<div ng-view></div>
		</div>
	</div>
</section>
