@import 'fontface';
@import 'colors';
@import 'transform';
@import 'mediaQueries';
@import 'mainMixins';

* {
  font-family: RalewayLight;
}


body {
  margin-top: 100px;
  @include media(mobile) {
    margin-top: 100px;
  }
}

/*     --- HEADER ---     */
header {
  position: fixed;
  top: 0;
  background-color: #fff;
  transition: 0.5s;
  width: 100%;
  z-index: 100;
  @include media(mobile) {
    height: 100px;
  }
}

#menu {
  @include media(nomobile) {
    float: right;
  }
}

#icon-menu {
  @include media(nomobile) {
    display: none;
  }
  margin: 0;
  padding: 0;
  color: $blue;
  @include centerVertical();
  right: 5%;
  font-size: 25px;
}

.show-menu {
  left: 0% !important;
}

#logo {
   float: left;
   @include centerVertical();
}
#menu-list {
   margin: 0;
   padding: 0;
   float: right;
   @include media(mobile) {
      text-align: center;
      display: block;
      position: absolute;
      width: 100%;
      left: 100%;
      top: 100%;
      transition: 0.4s;
   }

   li {
     list-style: none;
     @include media(nomobile) {
       height: 100px;
       &:first-child {
         a {
           @include border(bb, 2px, $blue);
           color: $blue;
         }
       }
     }
     a {
         @include link(#000, $blue, 16px, uppercase);
         display: block;
         height: 100%;
         padding: 0 20px;
         @include media(mobmed) {
           padding: 0 10px;
         }
         @include media(nomobile) {
           &:focus{
              @include border(bb, 2px, $blue);
              color: $blue;
           }
         }
         @include media(mobile) {
          padding: 10px 150px;
          color: $blue;
         }
         @include media(nomobile) {
           line-height: 6.2;
         }
       }
     @media screen and (min-width: 768px) {
       display: inline-block;
       float: left;
     }
     @media screen and (max-width: 768px) {
        padding: 10px 0;
        border-bottom: 1px solid #fff;
        background-color: $black;
     }
   }
 }

 /*     ------     */
#home {
  display: block;
  position: relative;
  height: calc(100vh - 100px);
  background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../../img/Layer-1.png);
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  .welcome {
    @include center();
    @include translate(-50%, -70%);
    h1 {
      font-family: RalewayExtraLight;
      color: #fff;
      text-align: center;
      text-transform: uppercase;
      font-size: 45px;
      margin: 30px 0;
    }
    a {
      @include link(#fff, #000, 16px, uppercase);
      padding: 10px 20px;
      @include border(b, 1px, #fff);
      @include centerHorizontal();
      @include media(mobile) {
        width: 140px;
      }
      transition: 0.3s;
      &:hover {
        background-color: #fff;
      }
    }
  }
}

.link-active {
  @include border(bb, 2px, $blue);
  color: $blue !important;
}
.noborder {
  border: none !important;
  color: #000 !important;
}
.sec {
  height: 100vh;
  width: 100%;
}
