@import 'fontface';
@import 'colors';
@import 'transform';
@import 'mediaQueries';
@import 'mainMixins';
@import 'animations';

* {
  font-family: RalewayLight;
}


body {
  margin-top: 100px;
  @include media(mobile) {
    margin-top: 100px;
  }
}

/*     --- HEADER ---     */
header {
  position: fixed;
  top: 0;
  background-color: #fff;
  transition: 0.5s;
  width: 100%;
  z-index: 100;
  @include media(mobile) {
    height: 100px;
  }
}

#menu {
  @include media(nomobile) {
    float: right;
  }
}

#icon-menu {
  @include media(nomobile) {
    display: none;
  }
  margin: 0;
  padding: 0;
  color: $blue;
  @include centerVertical();
  right: 5%;
  font-size: 25px;
}

.show-menu {
  left: 0% !important;
}

#logo {
   float: left;
   @include centerVertical();
}
#menu-list {
   margin: 0;
   padding: 0;
   float: right;
   @include media(mobile) {
      text-align: center;
      display: block;
      position: absolute;
      width: 100%;
      left: 100%;
      top: 100%;
      transition: 0.4s;
   }

   li {
     list-style: none;
     @include media(nomobile) {
       height: 100px;
     }
     a {
         @include link(#000, $blue, 16px, uppercase);
         display: block;
         height: 100%;
         padding: 0 20px;
         @include media(mobmed) {
           padding: 0 10px;
         }
         @include media(nomobile) {
           &:focus{
              @include border(bb, 2px, $blue);
              color: $blue;
           }
         }
         @include media(mobile) {
          padding: 10px 150px;
          color: $blue;
         }
         @include media(nomobile) {
           line-height: 6.2;
         }
       }
     @media screen and (min-width: 768px) {
       display: inline-block;
       float: left;
     }
     @media screen and (max-width: 768px) {
        padding: 10px 0;
        border-bottom: 1px solid #fff;
        background-color: $black;
     }
   }
 }

 /*     ------     */
#home {
  display: block;
  position: relative;
  height: calc(100vh - 100px);
  background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../../img/Layer-1.png);
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  .welcome {
    @include center();
    @include translate(-50%, -70%);
    h1 {
      font-family: RalewayExtraLight;
      color: #fff;
      text-align: center;
      text-transform: uppercase;
      font-size: 45px;
      margin: 30px 0;
    }
    a {
      @include link(#fff, #000, 16px, uppercase);
      padding: 10px 20px;
      @include border(b, 1px, #fff);
      @include centerHorizontal();
      @include media(mobile) {
        width: 140px;
      }
      transition: 0.3s;
      &:hover {
        background-color: #fff;
      }
    }
  }
}

.link-active {
  @include border(bb, 2px, $blue);
  color: $blue !important;
}
.noborder {
  border: none !important;
  color: #000 !important;
}
.sec {
  height: 100vh;
  width: 100%;
}

.template-section {
  padding: 60px 0;
  h1 {
    font-family: RalewayRegular;
    margin: 0;
  }
  img.divider {
    margin: 25px 0;
  }
  p.description {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 90px;
    @include media(mobile) {
      width: 100%;
    }
  }
}

/* ----- About us ----- */
#about {
  .picture-description {
    position: relative;
    img {
      width: 100%;
    }
    div {
      background-color: rgba(0,0,0,0.5);
      position: absolute;
      bottom: 0;
      left: 0;
      @include centerHorizontal();
      width: 100%;
      .worker-name {
        font-family: RalewayMedium;
        color: $blue;
        font-size: 20px;
        margin: 0;
        margin-top: 3px;
      }
      .worker-position {
        color: #fff;
        font-size: 13px;
      }
    }
  }
  @include media(mobile) {
    .worker-card {
      margin-bottom: 90px;
    }
  }
  .worker-description {
    background-color: $greylight;
    padding: 25px 25px;
    p {
      color: $greytext;
      font-size: 13px;
      margin: 0;
    }
    @include border(bb, 1px, #fff);
  }

  .icons {
    div {
      width: 25%;
      height: 55px;
      padding: 0;
      background-color: $greylight;
      @include border(br, 1px, #fff);
      transition: 0.3s;
      &:last-child {
        border: 0;
      }
      a {
        display: block;
        height: 100%;
        width: 100%;
        line-height: 4.2;
        color: $blacklink;
        transition: 0.3s;
        i {
          font-size: 22px;
        }
      }
    }
    .facebook{
      &:hover {
        background-color: $facebook;
        a {
          color: #fff;
        }
      }
    }
    .twitter{
      &:hover {
        background-color: $twitter;
        a {
          color: #fff;
        }
      }
    }
    .google{
      &:hover {
        background-color: $google;
        a {
          color: #fff;
        }
      }
    }
    .dribbble{
      &:hover {
        background-color: $dribbble;
        a {
          color: #fff;
        }
      }
    }

  }
}


/*   ---Contact Us---   */
#contact {
  color: #fff;
  background-color: $black;
  padding-bottom: 50px;

  p {
    margin-bottom: 10px;
  }
  .form-container {
    max-width: 768px;
    margin: 0 auto;

    .form-group {
      position: relative;
      margin-top: 75px;

      .border {
        position: absolute;
        width: 100%;
        height: 8px;
        bottom: 0;
      }

      .error-tooltip {
        color: #fff;
        position: absolute;
        display: none;
      }
    }

    .submit-wrapper {
      margin-top: 10px;
    }

    input, textarea, button[type="submit"] {
      background-color: transparent;
      color: #fff;
      border: none;
    }

    input {
      padding: 20px 28px;
      outline: none;
      box-shadow: none;

      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
    input::-webkit-input-placeholder {color: #fff;}
    input::-moz-placeholder {color: #fff;}
    input::-ms-placeholder {color: #fff;}

    textarea::-webkit-input-placeholder {color: #fff;}
    textarea::-moz-placeholder {color: #fff;}
    textarea::-ms-placeholder {color: #fff;}

    textarea {
      outline: none;
      box-shadow: none;
      width: 100%;
      padding: 7px 28px;
      resize: none;
      overflow: auto;

      &:focus {
        outline: none;
        box-shadow: none;
      }
    }

    button[type="submit"] {
      transition-duration: .3s;
      border: 1px solid $blue;
      border-radius: 0px;
      padding: 6px 32px;
      float: right;

      &:hover {
        background-color: $blue;
        color: #000;
      }
    }
  }

  .ng-untouched + .border {
     border-bottom: 3px solid #fff;
     border-left: 3px solid #fff;
     border-right: 3px solid #fff;
   }
   .ng-valid + .border {
    border-bottom: 3px solid #60FF73;
    border-left: 3px solid #60FF73;
    border-right: 3px solid #60FF73;
  }

  .ng-dirty.ng-invalid + .border, .ng-touched.ng-invalid + .border{
    border-bottom: 3px solid tomato;
    border-left: 3px solid tomato;
    border-right: 3px solid tomato;
  }

  .ng-dirty.ng-invalid + .border + .error-tooltip, .ng-touched.ng-invalid + .border + .error-tooltip {
    display: block;
  }

}
#contact {
  background-color: $black;
  color: #fff;
  form .ng-valid.ng-dirty {
      background-color: lightgreen;
  }

  form .ng-invalid.ng-dirty {
      background-color: lightcoral;
  }
  form {
    margin: 0 auto;
  }
  textarea {
    width: 100%;
    resize: none;
  }
  .col-md-6 {
     margin-bottom: 50px;
  }
  .form-group {
    position: relative;
    height: 42px;
  }
  .form-group.textarea {
    position: relative;
    height: 62px;
  }
  .btn {
    margin-top: 30px;
    @include border(b, 1px, $blue);
    padding: 10px 30px;
    border-radius: 0;
    transition: .3s;
    &:hover {
      background-color: $blue;
      color: $black;
    }
    @include media(mobile) {
      @include translate(-50%, 0);
    }
  }
  input, textarea {
    background-color: transparent;
    color: #fff;
    border: none;
    @include border(bb, 2px, #fff);
  }

  .mini-lines {
    width: 100%;
    height: 9px;
    bottom: 0;
    position: absolute;
    @include border(bl, 2px, #fff);
    @include border(br, 2px, #fff);
  }

}


footer {
  #contacts {
    padding: 80px 0;
    background-color: $dark;
    .our-contacts {
      @include media(nomobile) {
        width: 30%;
      }
      position: relative;
      width: 100%;
      background-color: $darkblue;
      margin: 0 auto;
      padding: 10px 30px;
      p {
        color: #fff;
        margin-bottom: 15px;
      }
      &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: -19px;
        border: 10px solid transparent;
        border-top: 10px solid $darkblue;
        @include centerHorizontal();
      }
    }
  }
  .footer-bottom {
    background-color: $black;
    color: #fff;
    padding: 45px 0;
    p {
      margin: 0;
      @include media(mobile) {
        @include translate(0,-50%);
      }
    }
    a {
      @include link($blue, $darkblue, 16px, capitalize);
    }
    .footer-content {
      position: relative;
      .totop {
        width: 30px;
        height: 30px;
        @include centerVertical();
        left: 35%;
        border-radius: 50%;
        cursor: pointer;
        @include border(b, 1px, #fff);
        .arrow {
          width: 10px;
          height: 10px;
          position: absolute;
          top: 60%;
          left: 50%;
          transform: translate(-50%,-50%) rotate(45deg);
          @include border(bt, 1px, #fff);
          @include border(bl, 1px, #fff);
        }
        &:hover {
          border-color: $blue;
        }
        &:hover .arrow{
          border-color: $blue;
        }
        @include media(mobile) {

          @include centerHorizontal();
          top: 100%;
        }
      }
    }

  }
}

/*   ---Our News---   */

#news {
  padding-bottom: 18px;

  .news-wrapper {
    max-width: 768px;
    margin: 0 auto;
    margin-top: 80px;

    article {
      min-height: 150px;

      .article-date {
        text-align: center;

        .number {
          color: $blue;
          font-size: 70px;
          font-weight: bold;
        }
      }

      .article-content {

        .short-desc {
          margin-top: 40px;
          padding-bottom: 60px;
          border-bottom: 1px solid $greyregular;
        }

        .read-more {
          color: $blue;
          right: 15px;
          font-weight: bold;
          position: absolute;
          @include translate(0, -200%);

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}

#achievements {
  color: #fff;
  background-color: $black;
  padding-top: 70px;
  padding-bottom: 50px;
  .achievement {
    text-align: center;

    @include media(mobile) {
      margin-top: 40px;
    }

    img {
      margin-bottom: 25px;
      height:70px;
    }

    .number {
      font-size: 40px;
    }

    .title {
      text-transform: uppercase;
      font-size: 12px;
    }
  }
}



#portfolio {
  padding-bottom: 0;
  .description {
    margin-bottom: 20px ;
  }
  .filter-menu {
    @include centerHorizontal();
    margin-top: 50px;
    text-align: center;

    @include media(mobile) {
      position: static;
      @include translate(0,0);
    }

    .btn-choose-cat {
      display: inline-block;
      color: $black;
      font-weight: bold;
      text-transform: uppercase;
      padding: 10px 15px;
      border: 1px solid transparent;
      margin: 0 5px;
      text-decoration: none;
      cursor: pointer;

      &:hover {
        border-color: $blue;
        transition: .2s;
      }

      @include media(mobile) {
        text-align: center;
        display: block;
      }
    }

    .active-btn {
      border-color: $blue !important;
    }
  }

  #works {
    margin: 0;
    padding: 0;
    width: 100%;
    margin-top: 150px;

    .col-lg-2, .col-md-3, .col-sm-4, .col-xs-6 {
      padding: 0;
    }

    .ng-enter {
      transition: .5s linear all;
    }

    .ng-enter.ng-enter-active {
      animation-name: zoomInUp;
      animation-duration: .5s;
      animation-fill-mode: forwards;
    }

    @include media(mobile) {
      margin-top: 50px;
    }

    .work {
      position: relative;
      cursor: pointer;

      img {
        width: 100%;
        height: auto;
        vertical-align: middle;
      }

      .work-description {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-transform: uppercase;
        background-color: rgba(127, 240, 255, .8);
        text-align: center;
        animation-fill-mode: forwards;
        animation-name: zoomOut;
        animation-duration: 0s;

        .wrapper {
          width: 100%;
          margin: 0;
          @include centerVertical();
          top: 47%;
          color: #fff;

          .work-title {
            font-size: 1.7em;
            font-weight: bold;
            margin-bottom: 10px;
          }

          .work-category {
            margin: 0;
            font-weight: bold;
          }
        }
      }

    }

    .mouse-over {
      .work-description {
        animation-name: zoomIn;
        animation-duration: .4s;

        .work-title {
          animation-name: zoomIn;
          animation-duration: .5s;
        }
      }
    }

    .mouse-out {
      .work-description {
        animation-name: zoomOut;
        animation-duration: .4s;
      }
    }
  }
}

#services {
  padding-bottom: 0;
  #services-wrapper{

    #services-images {

      .service {
        text-align: center;

        &:hover {
          cursor: pointer;
        }

        img {
          height: 60px;
        }

        .title {
          margin-top: 30px;
          text-transform: uppercase;
          font-weight: bold;

          @include media(mobile) {
            margin-top: 15px;
            margin-bottom: 40px;
          }
        }

        .square {
          margin: 0 auto;
          margin-top: 15px;
          width: 60px;
          height: 60px;
          border-top: 3px solid $blue;
          border-bottom: 3px solid $blue;
          margin-bottom: -2px;
          @include translate(0, 1px);

          @include media(mobile) {
            display: none;
          }
        }

        &:first-child {
          .square {
            border-left: 3px solid #fff !important;
          }
        }

        &:last-child {
          .square {
            border-right: 3px solid #fff !important;
          }
        }
      }

      .active {
        .square {
          border-left: 3px solid $blue;
          border-right: 3px solid $blue;
          border-bottom: 3px solid #fff;
          @include translate(0, 1px);
        }
      }
    }

    .border-bottom {
      border-bottom: 3px solid $blue;
      margin: 0 12.5%;
      z-index: -1;
    }

    #services-description {
      margin: 15px 12.5%;

      .desc {
        padding: 10px 15px;
      }
    }
  }

  #fully-responsive {
    background-color: $greylight;
    width: 100%;
    padding-top: 75px;
    padding-bottom: 75px;

    .container {
      max-width: 992px;

      img {
        float: right;
        margin-right: 50px;
      }

      h2 {
        font-size: 40px;
        margin-bottom: 40px;
      }

      p {
        font-size: 16px;
        margin-bottom: 35px;
      }

      a {
        @include link($blue, #fff, 16px, uppercase);
        @include border(b, 1px, $blue);
        font-weight: bold;
        padding: 10px 40px;
        transition: 0.2s;

        @include media(mobile) {
          width: 140px;
        }

        &:hover {
          background-color: $blue;
        }
      }
    }
  }
}
